.portifolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;

}

.portifolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portifolio li .tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.portifolio li a {
    color: #fff;
    text-decoration: none;
}

.portifolio li a:hover {
    text-decoration:underline;
}

.portifolio li .tittle.githurb::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    background-image: url(../img/githurb.svg);
    background-repeat: no-repeat;
    background-size: contain;
}